*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{ overflow-x: hidden; background-color: black;  }
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{ opacity: 0.7; }
.logo{
    font: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #23232e;
    height: 8vh;
}
main{
    /* background: url("https:/tante.jpg") no-repeat center center; */
    /* background-size: cover; */
    height: 92vh;
}
.nav-list { list-style: none; display: flex; }
.nav-list li{  letter-spacing: 3px; margin-left: 32px; }

/* MOBILE MENU */
.mobile-menu { display: none; cursor: pointer; }
.mobile-menu div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: #fff;
}
.mobile-menu.active .line1{ transform: rotate(-45deg) translate(-8px, 8px);}
.mobile-menu.active .line2{ opacity: 0;}
.mobile-menu.active .line3{ transform: rotate(45deg) translate(-5px, -7px);}
@keyframes navLinkFade{
    from { opacity: 0; transform: translateX(50px) } 
    to { opacity: 1; transform: translateX(0); }
}
@media (max-width: 999px){
    .nav-list{
        position: absolute;
        padding: 20px;
        top: 8vh;
        right: 0;
        width: 50vw; /* TAMANHO DO MENU */
        height: 92vh;
        background-color: #23232e;
        gap: 10px;
        flex-direction: column;
        align-items: start;
        transform: translateX(100%);
        transition: transform 0.9s ease-in-out;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        width: 100%;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: blueviolet;
    }
    .mobile-menu{ display: block;
    }
}
.nav-list.active{ transform: translateX(0); }